<div *ngIf="vetekDetails then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="row hebrew justify-content-start">
        <div class col-sm-12>
            <h5 class="justify-content-end">חישוב ותק:</h5>
        </div>
    </div>
    <div class="row hebrew justify-content-start">
        <div class col-sm-12>
            <a class="justify-content-end" 
                href="http://cms.education.gov.il/EducationCMS/Units/Sherut/Takanon/Perek1B/Darga/Vetek/Vetek_male.htm">
                לחץ/י כאן לצפייה בהוראות משרד החינוך לחישוב עבודה המזכה בוותק מלא.
            </a>
        </div>
    </div>
    <br>
    <div class="row hebrew justify-content-start">
        <button type="button" class="btn btn-info" (click)="vetekDetails=false;">חזרה</button>
    </div>
</ng-template>
<ng-template #elseBlock>
    <div class="row hebrew justify-content-start">
        <div class col-sm-12>
            <h5 class="justify-content-end">שאלון נתונים בסיסיים:</h5>
        </div>
    </div>
    <form class="goodwidth" (ngSubmit)="onSubmit()" #regstep01Form="ngForm">
        <div class="form-group text-right">
            <label class="no-space-break" for="ahuzeimisra">מהם אחוזי המשרה בהם את/ה מועסק/ת?</label>
            <input type="number" 
            class="form-control text-left" 
            dir="ltr"
            id="ahuzeimisra"
            required
            [(ngModel)]="userData.ahuzeimisra" name="ahuzeimisra"
            #ahuzeimisra="ngModel">
            <div [hidden]="ahuzeimisra.valid || ahuzeimisra.pristine"
                class="alert alert-danger">
                צריך למלא את כל השדות
            </div>
        </div>
        <div class="form-group text-right">
            <label for="hachsharaSelect">הכשרה:</label>
            <ng-select #MemberNgSelect
                [items]="hachsharas"
                required
                bindLabel="name"
                placeholder="בחר/י הכשרה"
                [multiple]="false"
                [searchable]="true" 
                [clearable]="true"
                [hideSelected]="true"
                [closeOnSelect]="true"
                [clearSearchOnAdd]="true"
                [(ngModel)]="userData.hachshara" name="hachsharaSelect">
            </ng-select>
        </div>
        <div class="form-group text-right">
            <label class="no-space-break" for="vetekyears">כמה שנות ותק לשכר יש לך?</label>
            <input type="number" 
            class="form-control text-left" 
            dir="ltr"
            id="vetekyears"
            required
            [(ngModel)]="userData.vetekyears" name="vetekyears"
            #vetekyears="ngModel">
            <div [hidden]="vetekyears.valid || vetekyears.pristine"
                class="alert alert-danger">
                צריך למלא את כל השדות
            </div>
        </div>
        <div class="form-group text-right">
            <span>לחישוב מדוייק של הותק לחץ כאן:</span>
            &nbsp;
            <button type="button" class="btn btn-info" (click)="vetekDetails=true;">חשב</button>
        </div>
        <div class="form-group text-right">
            <div class="form-check">
                <input class="form-check-input" 
                    type="checkbox" 
                    value="" 
                    id="teudathoraa"
                    [(ngModel)]="userData.teudathoraa" name="teudathoraa"
                    #teudathoraa="ngModel">
                &nbsp;&nbsp;&nbsp;
                <label class="form-check-label" for="teudathoraa">
                    סמן/י כאן אם יש לך תעודת הוראה.
                </label>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="form-check">
                <input class="form-check-input" 
                    type="checkbox" 
                    value="" 
                    id="rishyonhoraa"
                    [(ngModel)]="userData.rishyonhoraa" name="rishyonhoraa"
                    #rishyonhoraa="ngModel">
                &nbsp;&nbsp;&nbsp;
                <label class="form-check-label" for="rishyonhoraa">
                    סמן/י כאן אם יש לך רשיון הוראה.
                </label>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="form-check">
                <input class="form-check-input" 
                    type="checkbox" 
                    value="" 
                    id="ofekhadash"
                    [(ngModel)]="userData.ofekhadash" name="ofekhadash"
                    #ofekhadash="ngModel">
                &nbsp;&nbsp;&nbsp;
                <label class="form-check-label" for="ofekhadash">
                    סמן/' כאן אם את/ה מועסק/ת בתנאי 'אופק חדש'.
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 50px;"
            [disabled]="!regstep01Form.valid || loading || regstep01Form.errors">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            המשך
        </button>
    </form>
</ng-template>