<div class="row hebrew justify-content-start">
    <div class col-sm-12>
        <h3 class="justify-content-end">שאלון נתונים בסיסיים:</h3>
    </div>
</div>
<form (ngSubmit)="onSubmit()" #regstep01Form="ngForm">
    <div class="form-group text-right">
        <label class="no-space-break" for="ahuzeimisra">מהם אחוזי המשרה בהם את/ה מועסק/ת?</label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="ahuzeimisra"
        required
        [(ngModel)]="userData.ahuzeimisra" name="ahuzeimisra"
        #ahuzeimisra="ngModel">
        <div [hidden]="ahuzeimisra.valid || ahuzeimisra.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label for="hachshara">הכשרה:</label>
        <ng-select #MemberNgSelect
            [items]="hachsharas"
            required
            bindLabel="name"
            placeholder="בחר/י הכשרה"
            [multiple]="false"
            [searchable]="true" 
            [clearable]="true"
            [hideSelected]="true"
            [closeOnSelect]="true"
            [clearSearchOnAdd]="true"
            [(ngModel)]="userData.hachshara" name="hachsharaSelect">
        </ng-select>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="vetekyears">כמה שנות ותק לשכר יש לך?</label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="vetekyears"
        required
        [(ngModel)]="userData.vetekyears" name="vetekyears"
        #vetekyears="ngModel">
    </div>
    <div class="form-group text-right">
        <div class="form-check">
            <input class="form-check-input" 
                type="checkbox" 
                value="" 
                id="teudathoraa"
                required
                [(ngModel)]="userData.teudathoraa" name="teudathoraa"
                #teudathoraa="ngModel">
            &nbsp;&nbsp;&nbsp;
            <label class="form-check-label" for="teudathoraa">
                האם יש לך תעודת הוראה?
            </label>
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="gmuleihishtalmut">מה גמולי השתלמות שיש לך?</label>
        <input type="text" 
        class="form-control text-right" 
        dir="ltr"
        id="gmuleihishtalmut"
        required
        [(ngModel)]="userData.gmuleihishtalmut" name="gmuleihishtalmut"
        #gmuleihishtalmut="ngModel">
        <div [hidden]="gmuleihishtalmut.valid || gmuleihishtalmut.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 50px;"
        [disabled]="!regstep01Form.valid && loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        המשך
    </button>
</form>
