<div class="row hebrew justify-content-start">
    <div class col-sm-12>
        <h3 class="justify-content-end">הרשמה</h3>
    </div>
</div>
<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group text-right">
                <label for="name">שם מלא:</label>
                <input type="name" class="form-control" id="name"
                required
                [(ngModel)]="user.name" name="name"
                #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                    class="alert alert-danger">
                    דרוש שם מלא
                </div>
            </div>
            <div class="form-group text-right">
                <label for="emailaddress">כתובת אימייל:</label>
                <input type="email" class="form-control text-left" 
                dir="ltr"
                id="emailaddress"
                required
                [(ngModel)]="user.email" name="emailaddress"
                #emailaddress="ngModel">
                <div [hidden]="emailaddress.valid || emailaddress.pristine"
                    class="alert alert-danger">
                    דרושה כתובת אימייל
                </div>
            </div>
            <div class="form-group text-right">
                <div class="form-group">
                    <label for="password">סיסמה:</label>
                    <input type="password" 
                    dir="ltr"
                    class="form-control text-left" 
                    id="password"
                    required
                    [(ngModel)]="user.password" name="password"
                    #password="ngModel">
                    <div [hidden]="password.valid || password.pristine"
                        class="alert alert-danger">
                        דרושה סיסמה
                    </div>
                </div>
            </div>
                <button type="submit" class="btn btn-primary" 
                [disabled]="!registerForm.valid || loading || registerForm.errors">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                הרשמה
            </button>
            <a routerLink="/login" class="btn btn-link">ביטול</a>
        </div>
    </div>
</form>