<div class="row no-gutters">
    <div class="col-10 pull-left">
        <div data-toggle="collapse" attr.data-target="#content-{{index}}" style="cursor:pointer">
            <h6 class="list-group-item-heading">{{choreTemplate.name}}</h6>
        </div>
    <div id="content-{{index}}" class="collapse">
        <div>
            <div class="list-group-item-text"><span *ngIf="choreTemplate.details">{{choreTemplate.details}}</span></div>
            <span class="list-group-item-text"><small class="text-muted" *ngIf="masterUser">Created by: {{masterUser.name}}</small></span>
            <span class="list-group-item-text"><small class="text-muted">on: {{choreTemplate.createdDate | date:'shortDate'}}</small></span>
        </div>
        <small *ngIf="choreTemplate.updatedDate" class="list-group-item-text text-muted"> Last updated on: {{choreTemplate.updatedDate | date:'shortDate'}}</small>
    </div>
    </div>
        <div class="col-2 pull-right">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onAssign()">
            Assign
        </button>
    </div>
</div>