<div *ngIf="currentUser.name; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div *ngIf="!userData || !userData.fullyregestered; then thenRegBlock else elseRegBlock"></div>
  <ng-template #thenRegBlock>
    <pc-register-flow></pc-register-flow>
  </ng-template>
  <ng-template #elseRegBlock>
    <div class="row hebrew justify-content-start">
      הכל טוב אח שלו...
    </div>
  </ng-template>
</ng-template>
<ng-template #elseBlock>
  <div class="row hebrew justify-content-end">
    <h1>שלום!</h1>
    <p>כדי להתחיל יש להיכנס או להירשם לאתר.</p>    
  </div>
</ng-template>