<!-- Form: Create New Chore Template -->
<div *ngIf="creatingNew == true">
    <cm-chore-template-create 
        (created)="onChoreTemplateCreated($event)" 
        (canceled)="onChoreTemplateCreateCanceled()">
    </cm-chore-template-create>
</div>

<!-- Form: Assign Chore -->
<div *ngIf="assignChore == true">
    <cm-chore-template-assign 
        [choreTemplate]="assignedChoreTemplate"
        (assigned)="onChoreTemplateAssigned()" 
        (canceled)="onChoreTemplateAssignCanceled()">
    </cm-chore-template-assign>
</div>

<!-- Chore Template list -->
<div [hidden]="creatingNew == true || assignChore == true">
    <button class="btn btn-outline-primary" 
        (click)="onNewChoreTemplate()">
        Create New Chore Type
    </button>
    <div *ngIf="choreTemplates.length == 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div class="row no-gutters">
            <div class="col-12 text-left">
                <h5>There are no Chore Types yet, why not create a new one?</h5>
            </div>        
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div class="row no-gutters" style="margin-top: 10px;">
            <div class="col-8 text-left">
                <h5>Available Chore Types:</h5>
            </div>
            <div class="col-4 text-right">
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-secondary" (click)="onFilterMine()">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        Mine
                    </label>
                    <label class="btn btn-outline-secondary active" (click)="onFilterAll()">
                        <input type="radio" name="options" id="option2" autocomplete="off">
                        All
                    </label>
                </div>
            </div>
        </div>
        <div class="list-group" style="margin-top: 10px;">
            <div class="list-group-item"
                *ngFor="let choreTemplate of choreTemplates | choreTemplateCreator: filterCreatorId; let i= index;">
                <cm-chore-template
                    [choreTemplate]="choreTemplate" 
                    [index]="i"
                    (assigned)="onChoreAssignClicked($event)">
                </cm-chore-template>
            </div>
        </div>
    </ng-template>
</div>

