<div class="row hebrew justify-content-start">
    <div class col-sm-12>
        <h5 class="justify-content-end">שאלון חישוב וותק:</h5>
    </div>
</div>
<form (ngSubmit)="onSubmit()" #regstep02Form="ngForm">
    <div class="form-group text-right">
        <label class="no-space-break" for="vetekformaly">
            כמה שנות ותק בהוראה בחינוך הפורמלי יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="vetekformaly"
        required
        [(ngModel)]="userData.vetekformaly" name="vetekformaly"
        #vetekformaly="ngModel">
        <div [hidden]="vetekformaly.valid || vetekformaly.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="vetekformalystart">
            באיזו שנה התחלת את עבודתך בחינוך הפורמלי?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="vetekformalystart"
        required
        [(ngModel)]="userData.vetekformalystart" name="vetekformalystart"
        #vetekformalystart="ngModel">
        <div [hidden]="vetekformalystart.valid || vetekformalystart.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="veteknotformaly">
            כמה שנות ותק בהוראה בחינוך הבלתי פורמלי יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="veteknotformaly"
        required
        [(ngModel)]="userData.veteknotformaly" name="veteknotformaly"
        #veteknotformaly="ngModel">
        <div [hidden]="veteknotformaly.valid || veteknotformaly.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="vetekzahalpolice">
            כמה שנות ותק צה"ל / משטרת ישראל יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="vetekzahalpolice"
        required
        [(ngModel)]="userData.vetekzahalpolice" name="vetekzahalpolice"
        #vetekzahalpolice="ngModel">
        <div [hidden]="vetekzahalpolice.valid || vetekzahalpolice.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="sadirmonths">
            כמה חודשי שירות סדיר בצה"ל / שירות לאומי יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="sadirmonths"
        required
        [(ngModel)]="userData.sadirmonths" name="sadirmonths"
        #sadirmonths="ngModel">
        <div [hidden]="sadirmonths.valid || sadirmonths.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="zahalkevayears">
            כמה שנות קבע בצה"ל יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="zahalkevayears"
        required
        [(ngModel)]="userData.zahalkevayears" name="zahalkevayears"
        #zahalkevayears="ngModel">
        <div [hidden]="zahalkevayears.valid || zahalkevayears.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="policesherutyears">
            כמה שנות שירות במשטרת ישראל יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="policesherutyears"
        required
        [(ngModel)]="userData.policesherutyears" name="policesherutyears"
        #policesherutyears="ngModel">
        <div [hidden]="policesherutyears.valid || policesherutyears.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <div class="form-check">
            <input class="form-check-input" 
                type="checkbox" 
                value="" 
                id="ofekhadash"
                [(ngModel)]="userData.ofekhadash" name="ofekhadash"
                #ofekhadash="ngModel">
            &nbsp;&nbsp;&nbsp;
            <label class="form-check-label" for="ofekhadash">
                האם את/ה מועסק/ת בתנאי 'אופק חדש'?
            </label>
        </div>
    </div>
    <div class="form-group text-right">
        <div class="form-check">
            <input class="form-check-input" 
                type="checkbox" 
                value="" 
                id="zahalhoraa"
                [(ngModel)]="userData.zahalhoraa" name="zahalhoraa"
                #zahalhoraa="ngModel">
            &nbsp;&nbsp;&nbsp;
            <label class="form-check-label" for="zahalhoraa">
                האם השירות בצה"ל או בשירות לאומי היה בתפקיד הוראה או הדרכה?
            </label>
        </div>
    </div>
    <div class="form-group text-right">
        <div class="form-check">
            <input class="form-check-input" 
                type="checkbox" 
                value="" 
                id="policehoraa"
                [(ngModel)]="userData.policehoraa" name="policehoraa"
                #zahalhoraa="ngModel">
            &nbsp;&nbsp;&nbsp;
            <label class="form-check-label" for="policehoraa">
                האם השירות במשטרת ישראל היה בתפקיד הוראה או הדרכה?
            </label>
        </div>
    </div>
    <div class="form-group text-right">
        <div class="form-check">
            <input class="form-check-input" 
                type="checkbox" 
                value="" 
                id="madrichshelach"
                [(ngModel)]="userData.madrichshelach" name="madrichshelach"
                #madrichshelach="ngModel">
            &nbsp;&nbsp;&nbsp;
            <label class="form-check-label" for="madrichshelach">
                האם את/ה מדריך של"ח?
            </label>
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="vetekprofessional">
            כמה שנות ותק מקצועי יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="vetekprofessional"
        required
        [(ngModel)]="userData.vetekprofessional" name="vetekprofessional"
        #vetekprofessional="ngModel">
        <div [hidden]="vetekprofessional.valid || vetekprofessional.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <div class="form-group text-right">
        <label class="no-space-break" for="vetekminhalit">
            כמה שנות ותק בעבודה מנהלית חינוכית יש לך?
        </label>
        <input type="number" 
        class="form-control text-left" 
        dir="ltr"
        id="vetekminhalit"
        required
        [(ngModel)]="userData.vetekminhalit" name="vetekminhalit"
        #vetekminhalit="ngModel">
        <div [hidden]="vetekminhalit.valid || vetekminhalit.pristine"
            class="alert alert-danger">
            צריך למלא את כל השדות
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 50px;"
        [disabled]="!regstep02Form.valid || loading || regstep02Form.errors">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        המשך
    </button>
</form>
