<div class="card" style="margin-top:10px;" [style.border-color]="color">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12 text-right">
                <small class="text-muted">Due: {{chore.date | date:'shortDate'}}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-left">
                <div>
                    <b>{{chore.name}}</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-left">
                <small class="text-muted">{{chore.details}}</small>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>Comment:</div>
        <div>
            <input 
                class="w-100 form-control" type="text" 
                [(ngModel)]="comment" #commentInput="ngModel">
        </div>
        <div class="row justify-content-center" style="margin-top: 10px;">
            <button 
                style="margin: 3px;"
                (click)="onDone()"
                class="btn btn-primary btn-action">
                <i class="far fa-check-circle" style="margin-right:2px;"></i>&nbsp;Done
            </button>
            <button 
                style="margin: 3px;"
                (click)="onReject()"
                class="btn btn-outline-secondary">
                <i class="far fa-times-circle" style="margin-right:2px;"></i>&nbsp;Reject
            </button>
        </div>
    </div>
</div>
